{% extends 'base.html' %}
{% load static %}
{% block title %}
Price Tracker
{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}
{% block body %}
<div class="max-w-6xl mx-auto flex flex-col bg-white p-8 m-6 rounded-lg shadow-md">
    <h2 class="text-lg font-semibold mb-4">Live Stock Information</h2>
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">S. No</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Prev Close</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Open</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Change</th> 
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Market Cap</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Volume</th>
                    {% comment %} <th scope="col" class="relative px-6 py-3"></th> {% endcomment %}
                </tr>
            </thead>
            {% comment %} <tbody class="bg-white divide-y divide-gray-200">
                {% for data in data %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ data.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ data.price }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ data.prev_close }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ data.open }}</td>
                    <td class="px-6 py-4 whitespace-nowrap" style="color: {% if data.change >= 0 %} green {% else %} red {% endif %};">{{ data.change|floatformat:"4" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ data.market_cap }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ data.volume }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <a href="#" class="text-primary hover:text-primary-dark">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody> {% endcomment %}
            <tbody>
                {% for key, value in data.items %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ key }}</td>
                    <td id="{{key}}_price" class="px-6 py-4 whitespace-nowrap">{{ value.price }}</td>
                    <td id="{{key}}_prevClose" class="px-6 py-4 whitespace-nowrap">{{ value.prev_close }}</td>
                    <td id="{{key}}_open" class="px-6 py-4 whitespace-nowrap">{{ value.open }}</td>
                    <td id="{{key}}_change" class="px-6 py-4 whitespace-nowrap" style="color: {% if value.change >= 0 %} green {% else %} red {% endif %};">{{ value.change|floatformat:"4" }}</td>
                    <td id="{{key}}_marketCap" class="px-6 py-4 whitespace-nowrap">{{ value.market_cap }}</td>
                    <td id="{{key}}_volume" class="px-6 py-4 whitespace-nowrap">{{ value.volume }}</td>
                    {% comment %} <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <a href="#" class="text-primary hover:text-primary-dark">View</a>
                    </td> {% endcomment %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% comment %} {{ room_name|json_script:"room-name" }} {% endcomment %}
<script>
    {% comment %} const roomName = JSON.parse(document.getElementById('room-name').textContent); {% endcomment %}
    const roomName = "{{ room_name }}"
    var queryString = window.location.search;
    queryString = queryString.substring(1);
    console.log(queryString)
    const stockSocket = new WebSocket(
        "ws://" + 
        window.location.host +
        '/ws/stock/' +
        roomName +
        '/' +
        '?' +
        queryString
    );

    stockSocket.onmessage = function (e) {
        console.log(e.data);
        const data = JSON.parse(e.data);
        console.log(data);
        Object.keys(data).forEach(function(key) {
            const stockData = data[key];
            const priceCell = document.getElementById(`${key}_price`);
            const prevCloseCell = document.getElementById(`${key}_prevClose`);
            const openCell = document.getElementById(`${key}_open`);
            const changeCell = document.getElementById(`${key}_change`);
            const marketCapCell = document.getElementById(`${key}_marketCap`);
            const volumeCell = document.getElementById(`${key}_volume`);
    
            if (!priceCell || !prevCloseCell || !openCell || !changeCell || !marketCapCell || !volumeCell) {
                console.error(`One or more cells not found for stock: ${key}`);
                return;
            }

            priceCell.textContent = stockData.price;
            prevCloseCell.textContent = stockData.prev_close;
            openCell.textContent = stockData.open;
            changeCell.textContent = stockData.change.toFixed(4);
            changeCell.style.color = stockData.change >= 0 ? 'green' : 'red';
            marketCapCell.textContent = stockData.market_cap;
            volumeCell.textContent = stockData.volume;
        });
        
      };
</script>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}
